<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.th.demo.modular.dao.AAshopMapper">

    <select id="getList" resultType="com.th.demo.modular.entity.AAshop">
        SELECT id,name,price,remark,userToken,DATE_FORMAT(createTime,'%Y-%m-%d %H:%i:%s') createTime,containPeople FROM shop WHERE status = 0
        <if test="value != '' and value != null">
            and userToken LIKE concat('%','${value}','%')
        </if>
        ORDER BY createTime DESC
    </select>

    <select id="login" resultType="Integer">
        SELECT COUNT(*) FROM user WHERE userName = ${userName} AND passWord = ${passWord}
    </select>

    <update id="account">
        UPDATE shop SET status = 1 WHERE status = 0
    </update>

    <select id="getMylist" resultType="AAshop">
        SELECT id,name,price,remark,userToken,createTime FROM shop WHERE status = 0 and userToken=#{userToken}
        ORDER BY createTime DESC
    </select>

    <select id="getMyMoneyInfo" resultType="String">

    </select>

    <select id="getEveryonePay" resultType="map">
        SELECT userToken,SUM(price) total,u.name FROM shop s,user u WHERE u.userName = s.userToken and status = 0
        <if test="userToken != '' and userToken != null">
            and containPeople LIKE concat('%','${userToken}','%')
        </if>
         GROUP BY userToken
    </select>
    
    <insert id="insertBill">
        insert into bill (shop_id,userToken,debtPeople,money,status,createTime)
        values (#{shop_id},#{userToken},#{debtPeople},#{money},#{status},#{createTime});
    </insert>

    <select id="peopleDetail" resultType="Map">
        SELECT name,userName FROM user
    </select>
</mapper>